[Unit]
Description=meta.sr.ht website service
Requires=postgresql.service
After=postgresql.service network.target

[Service]
Type=simple
User=__APP__
Restart=always
ExecStart=/usr/bin/gunicorn metasrht.app:app -b 127.0.0.1:__PORT__

[Install]
WantedBy=multi-user.target